<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CSS Demo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/demo.css" />
  </head>
  <body>
    <section>
      <h1>Header H1</h1>
      <h2>Header H2</h2>
      <h3>Header H3</h3>
      <h4>Header H4</h4>
      <h5>Header H5</h5>
      <h6>Header H6</h6>
      <p class="capital-text">
        This paragraph uses a class
        <code>capital-text</code>
        , that applies capitel
        <code>font-variant: small-caps</code>
        .
      </p>
    </section>

    <section>
      <h2>
        Element selectors:
        <code>p</code>
        &
        <code>button</code>
      </h2>
      <p>
        This is an example of a paragraph stylized using selector.
        <code>p</code>
        .
      </p>
      <button>Button</button>
    </section>

    <section>
      <h2>Attribute selectors</h2>

      <h3>
        Starting with substring:
        <code>input[type^="text"]</code>
      </h3>
      <input type="text" placeholder="Text field" />

      <h3>
        Ends with substring:
        <code>input[type$="password"]</code>
      </h3>
      <input type="password" placeholder="Password" />

      <h3>
        Fixed attribute value:
        <code>a[target="_blank"]</code>
      </h3>
      <a href="https://www.example.com" target="_blank">Link with target="_blank"</a>
    </section>

    <section>
      <h2>
        Class selectors:
        <code>.example-class</code>
      </h2>
      <div class="example-class">
        Element with class
        <code>example-class</code>
      </div>
    </section>

    <section>
      <h2>Combined selectors & ancestor selectors</h2>
      <div class="parent">
        Parent
        <code>div.parent</code>
        <div class="child">
          Child
          <code>.parent .child</code>
        </div>
        <div class="child">
          Another child
          <code>.parent > .child</code>
        </div>
      </div>
    </section>

    <section>
      <h2>Pseudoclasses</h2>

      <h3>Dynamic link states</h3>
      <ul>
        <li>
          <strong>:link (Not visited):</strong>
          <a href="https://www.google.com" target="_blank">Google</a>
        </li>
        <li>
          <strong>:visited (Visited):</strong>
          <a href="https://www.openai.com" target="_blank">OpenAI</a>
        </li>
        <li>
          <strong>:hover (On hover):</strong>
          <a href="https://www.github.com" target="_blank">GitHub</a>
        </li>
        <li>
          <strong>:active (On press):</strong>
          <a href="https://www.wikipedia.org" target="_blank">Wikipedia</a>
        </li>
        <li>
          <strong>:focus (In focus):</strong>
          <a href="https://www.stackoverflow.com" target="_blank" tabindex="0">Stack Overflow</a>
        </li>
      </ul>
      <p>
        <em>
          Notice: To see styles
          <code>:visited</code>
          click on some links and get back here.
        </em>
      </p>

      <h3>List element styles</h3>
      <ul>
        <li>1st element</li>
        <li>2nd element</li>
        <li>3rd element</li>
        <li>4th element</li>
      </ul>

      <h3>Table row styles</h3>
      <table>
        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
        </tr>
        <tr>
          <td>1st row</td>
          <td>Data</td>
          <td>Date</td>
        </tr>
        <tr>
          <td>2nd row</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <td>3rd row</td>
          <td></td>
          <td>Data</td>
        </tr>
      </table>

      <h3>Input styles</h3>
      <input type="text" placeholder="On" />
      <input type="text" placeholder="Required" required />
      <input type="text" placeholder="Disabled" disabled />
      <input type="number" placeholder="Out of range" min="10" max="20" />
    </section>

    <section>
      <h2>Table with pseudo-classes</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>City</th>
        </tr>
        <tr>
          <td>Alex</td>
          <td>25</td>
          <td>Moscow</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>30</td>
          <td>Minsk</td>
        </tr>
        <tr>
          <td>Ivan</td>
          <td>22</td>
          <td>Saint-Petrsburg</td>
        </tr>
        <tr>
          <td>Plga</td>
          <td>28</td>
          <td>Brest</td>
        </tr>
        <tr>
          <td>Dmitry</td>
          <td>35</td>
          <td>Varshaw</td>
        </tr>
      </table>
    </section>
    
    <section>
      <h2>Check & radial styles</h2>
      <label>
        <input type="checkbox" />
        Unchecked
      </label>
      <br />
      <label>
        <input type="checkbox" checked />
        Checked
      </label>
      <br />
      <label>
        <input type="radio" name="radio" />
        Radial
      </label>
      <br />
      <label>
        <input type="radio" name="radio" checked />
        Selected radial
      </label>
    </section>

    <section>
      <h2>Quotes</h2>
      <p>
        Default:
        <q>Default cite</q>
      </p>
      <p>
        En quotes:
        <q lang="en">English quote</q>
      </p>
      <p>
        Ru quotes:
        <q lang="ru">Цитата на русском</q>
      </p>
    </section>

    <section>
      <h2>Pseudo-elements</h2>
      <p>
        This paragraph demonstrates
        <code>::first-letter</code>
        ,
        <code>::first-line</code>
        ,
        <code>::before</code>
        и
        <code>::after</code>
        .
      </p>
      <p class="break-word">
        This paragraph demonstrates class
        <code>.break-word</code>
        which uses
        <code>word-wrap: break-word</code>
        &
        <code>word-break: break-all</code>
        to control word wrapping.
      </p>
    </section>

    <section>
      <h2>User list markers</h2>
      <ul class="custom-markers">
        <li>1st element</li>
        <li>2nd element</li>
        <li>3rd element</li>
      </ul>
    </section>

    <section>
      <h2>Text selection (::selection)</h2>
      <p>
        Try to select this text to see the difference.
        <code>::selection</code>
        .
      </p>
      <p class="custom-selection">
        This paragraph has different selection thanks to a class.
        <code>.custom-selection</code>
        .
      </p>
    </section>

    <section>
      <h2>Paragraph styles</h2>
      <p>
        This paragraph has a red line, increased line spacing, word and character spacing,
automatic word wrapping, and a bottom margin.
      </p>
    </section>

    <section>
      <h2>Block positioning using Flexbox</h2>
      <div class="container">
        <div class="block">Block 1</div>
        <div class="block">Block 2</div>
        <div class="block">Block 3</div>
      </div>
    </section>

    <section>
      <h2>Media requests</h2>
      <p>Resize the browser window to see the style changes based on the screen width.</p>
      <div class="container">
        <div class="block">Adaptive block 1</div>
        <div class="block">Adaptive block 2</div>
        <div class="block">Adaptive block 3</div>
      </div>
    </section>
  </body>
</html>