{% extends 'base.html' %}
{% block title %}Pet Shop{% endblock title %}
{% block header %}Home Page{% endblock header %}
{% block content %}
<div class="logo">
    {% if company.logo %}
        <img src="{{ company.logo.url }}" 
            srcset="{{ company.logo.url }} 1x,
            {{ company.logo.url }} 2x,
            {{ company.logo.url }} 3x"
            alt="Company logo">
        <p>{{ company.name }}</p>
    {% else %}
        <p>Company logo is missing</p>
    {% endif %}
</div>
<br/>

<div class="latest-news">
    {% if latestNews %}
        <h2>Latest news</h2>
        <h3>{{ latestNews.title }}</h3>
        <p>{{ latestNews.summary }}</p>
        <a href="{% url 'article-details' latestNews.id %}">Read more</a>
    {% endif %}
</div>
<br/>

<div class="partners">
    <h2>Our Partners</h2>
    {% for partner in partners %}
        <a href="{{ partner.link }}">
            <img src="{{ partner.logo.url }}" alt="{{ partner.company_name }}" style="max-width: 150px; height: auto;">
        </a>
    {% endfor %}
</div>
<br/>

<div class="products">
    <h2>Our Products</h2>
    {% for product in products %}
        <div class="product">
            {% if product.photo %}
                <img src="{{ product.photo.url }}" style="max-width: 100px; height: auto;">
            {% endif %}

            <h3>
                <a href="{% url 'product-details' product.id %}">{{ product.title }}</a>
            </h3>

            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
        </div>
    {% endfor %}
</div>
<br/>

<div class="banners">
    {% for banner in banners %}
        <a href="{{ banner.link }}">
            <img src="{{ banner.image.url }}" alt="Banner">
        </a>
    {% endfor %}
</div>

{% endblock %}