{% extends 'base.html' %}
{% block title %}PetShop: {% if object %} {{ object.title }} {% else %} new vacancy {% endif %} {% endblock title %}
{% block header %}{% if object %}Edit{% else %}Addition{% endif %} of vacancy{% endblock header %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
</form>

<div class="container">
<a href="{% url 'vacancy-list' %}" class="btn btn-info">Cancel</a>
</div>
{% endblock %}