{% extends 'base.html' %}
{% block title %}Pet Shop: Contacts{% endblock title %}
{% block header %}Contact List{% endblock header %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for contact in object_list %}
        <tr>
            <td>{{ contact.description }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td>
                <a href="{% url 'contact-details' contact.id %}" class="btn btn-primary">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}