{% extends 'base.html' %}
{% block title %}Pet Shop: Promocodes{% endblock title %}
{% block header %}Promocode List{% endblock header %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for promocode in object_list %}
        <tr>
            <td>{{promocode.code}}</td>
            <td>{% if promocode.status %} Active {% else %} Expired {% endif %}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}