{% extends 'base.html' %}
{% block title %}Pet Shop: Reviews{% endblock title %}
{% block header %}Reviews{% endblock header %}
{% block content %}
<dl>
    {% for review in object_list %}
    <dt class="mt-4">
        <span style="font-size: 30px;">{{ review.rating }} {{ review.title }} - {{ review.user.username }}</span>
         <small title="{{ review.get_utc_time }} UTC">{{ review.get_local_time }}</small><br/>
    </dt>
    <dd>
        <span style="font-size: 25px;">{{ review.text }}</span>
    </dd>
    {% endfor %}
</dl>
{% endblock %}