{% extends 'base.html' %}

{% block content %}
<h2>{% if object %}Edit{% else %}Addition{% endif %} of supplier</h2>

<form method="post" enctype="multipart/form-data", id="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
</form>

<script>
    document.getElementById('id_contact_phone').addEventListener('submit',
     (event) => { event.preventDefault() }, function() {
      const phone = new String(this.value);
      if (RegExp('+375\s+\d{2}\s+\d{3}\s+\d{2}\s+\d{2}' | phone)) {
        alert('Phone number format should be +375 XX XXX XX XX (spaces are not necessary).');
      }
    });
</script>

<a href="{% url 'supplier-list' %}" class="btn btn-info">Cancel</a>
{% endblock %}