{% extends 'base.html' %}
{% load static %}
{% block title %}Pet Shop: FAQ{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}

{% if request.user.is_staff %}
    <a href="{% url 'faq-create'%}" class="btn btn-primary">Add</a>
    <br/>
{% endif %}

<section id="top">
    <img src="{% static 'images/bg.jpg' %}" id="bg" />
    <img src="{% static 'images/parrot1.png' %}" id="leftParrot" />
    <h2 id="text">FAQ</h2>
    <img src="{% static 'images/parrot2.png' %}" id="rightParrot" />
</section>

<section class="section">
    <div class="faq-container"></div>
    {% for faq in object_list %}
        <details class="faq-item">
            <summary>
                {{ faq.question }} 
                
                <small title="{{ faq.get_utc_time }} UTC">{{ faq.get_local_time }}</small>

                {% if request.user.is_staff %}
                <div class="container">
                    <a class="btn" href="{% url 'faq-update' pk=faq.id %}">Edit</a>
                    <a class="btn" href="{% url 'faq-delete' pk=faq.id %}">Delete</a>
                </div>
                {% endif %}
            </summary>
            <div class="faq-answer">
            <p>{{ faq.answer }}</p>
            </div>
        </details>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/scrollAnimation.css' %}"></link>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/scroll_animation.js' %}"></script>
{% endblock %}