{% extends 'base.html' %}
{% load static %}
{% block title %}Pet Shop{% endblock title %}
{% block header %}<h1 class="company-name">{{ company.name }}</h1>{% endblock header %}
{% block content %}

<div class="aquarium-container">
    <div class="aquarium">
        <div class="fish"></div>
        <div class="fish"></div>
        <div class="fish"></div>
        <div class="fish"></div>
        
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        
        <div class="shop-title">{{ company.name }}</div>
    </div>
</div>

<section class="latest-news">
    {% if latestNews %}
        <h2>Latest news</h2>
        <div class="news-card">
            <h3>{{ latestNews.title }}</h3>
            <p>{{ latestNews.summary }}</p>
            <a class="btn" href="{% url 'article-details' latestNews.id %}">Read more</a>
        </div>
    {% endif %}
</section>

<section class="partners">
    <h2>Our Partners</h2>
    <div class="partners-list">
    {% for partner in partners %}
        <a class="partner-item" href="{{ partner.link }}">
            <img class="partner-logo" src="{{ partner.logo.url }}" title="{{ partner.company_name }}" alt="{{ partner.company_name }}">
        </a>
    {% endfor %}
    </div>
</section>

<section class="products">
    <h2>Our Products</h2>
    <div class="product-list" id="product-list">
    
    </div>

    <div class="pagination">
      <button id="prev-page" class="btn">Previous</button>
      <div id="page-numbers"></div>
      <button id="next-page" class="btn">Next</button>
    </div>

    <div class="pageSize">
        <form id="pageSizeForm">
            <label htmlFor="pageSize">Page size:</label>
            <input id="pageSize" type="number" min=3 max=10>
            <button type="submit">Set</button>
        </form>
    </div>
</section>

<section class="bannerSlider" auto="True" pags="True" navs="True" stopMouseHover="True">
<div class="banner-container">

    <div class="slider">
        {% for banner in banners %}
            <div class="banner" data-url="{{ banner.link }}">
                <img src="{{ banner.image.url }}" alt="Banner">
                <div class="caption">{{ banner }}</div>
            </div>
        {% endfor %}

        <div class="clickable-zone prev-area">
            <span class="arrow left-arrow">&lt;</span>
        </div>
        <div class="clickable-zone next-area">
            <span class="arrow right-arrow">&gt;</span>
        </div>

        <div class="banner-counter" id="banner-counter"></div>
    </div>

    <div class="pagination" id="pagination"></div>

    {% if request.user.is_authenticated and request.user.is_staff %}
    <form id="interval-form" class="interval-form">
        <label for="interval-input">Interval (seconds)</label>
        <input type="number" id="interval-input" name="interval-input" value="3" min="3" max="15"/>
        <button type="button" onclick="bannerSlider.setIntervalFromForm()">Set</button>
    </form>
    {% endif %}
</div>
</section>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/bannerSlider.css' %}">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/banner_Slider.js' %}"></script>
<script src="{% static 'js/product_list.js' %}"></script>
<script src="{% static 'js/battery_api.js' %}"></script>
{% endblock %}