{% extends 'base.html' %}
{% load static %}
{% block title %}Pet Shop{% endblock title %}
{% block header %}<h1 class="company-name">{{ company.name }}</h1>{% endblock header %}
{% block content %}

<div class="aquarium-container">
    <div class="aquarium">
        <div class="fish"></div>
        <div class="fish"></div>
        <div class="fish"></div>
        <div class="fish"></div>
        
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        <div class="seaweed"></div>
        
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        
        <div class="shop-title">{{ company.name }}</div>
    </div>
</div>

<div class="preloader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>

<section class="latest-news">
    {% if latestNews %}
        <h2>Latest news</h2>
        <div class="news-card">
            <h3>{{ latestNews.title }}</h3>
            <p>{{ latestNews.summary }}</p>
            <a class="btn" href="{% url 'article-details' latestNews.id %}">Read more</a>
        </div>
    {% endif %}
</section>

<section class="partners">
    <h2>Our Partners</h2>
    <div class="partners-list">
    {% for partner in partners %}
        <a class="partner-item" href="{{ partner.link }}">
            <img class="partner-logo" src="{{ partner.logo.url }}" title="{{ partner.company_name }}" alt="{{ partner.company_name }}">
        </a>
    {% endfor %}
    </div>
</section>

<section class="products">
    <h2>Our Products</h2>
    <div class="product-list">
    {% for product in products %}
        <a class="product-card" href="{% url 'product-details' product.id %}">

            {% if product.photo %}
                <img class="product-image" src="{{ product.photo.url }}">
            {% else %}
            <div class="no-image">Photo is missing</div>
            {% endif %}

            <h3 class="product-title">{{ product.title }}</h3>

            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">Price: {{ product.price }}</p>
        </a>
    {% endfor %}
    </div>
</section>

<!-- <section class="banners">
    <div class="banner-list">
    {% for banner in banners %}
        <div class="banner-item">
            <img class="banner-image" src="{{ banner.image.url }}" alt="Banner">
        </div>
    {% endfor %}
    </div>

    <div id="bannerSlider"></div>
</section> -->

<section class="bannerSlider" auto="True" pags="True" navs="True" stopMouseHover="True">
<div class="banner-container">

    <div class="slider">
        {% for banner in banners %}
            <div class="banner" data-url="{{ banner.link }}">
                <img src="{{ banner.image.url }}" alt="Banner">
                <div class="caption">{{ banner }}</div>
            </div>
        {% endfor %}

        <div class="clickable-zone prev-area">
            <span class="arrow left-arrow">&lt;</span>
        </div>
        <div class="clickable-zone next-area">
            <span class="arrow right-arrow">&gt;</span>
        </div>

        <div class="banner-counter" id="banner-counter"></div>
    </div>

    <div class="pagination" id="pagination"></div>
    <!-- <form id="interval-form" class="interval-form">
        <label for="rotation-interval">Interval (seconds)</label>
        <input type="number" 
            id="rotation-interval" name="rotation-interval"
            value="3" min="1" max="10"/>
        <button type="button" onclick="slider.updateInterval()">Change</button>
    </form> -->
</div>
</section>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/bannerSlider.css' %}">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/banner_Slider.js' %}"></script>
{% endblock %}