{% extends 'base.html' %}
{% block title %}Pet Shop: Products{% endblock title %}
{% block header %}Product List{% endblock header %}
{% block content %}

<form method="get" class="form-inline">
    <input type="text" name="query" placeholder="Searching..." value="{{ request.GET.query }}" class="form-control">
    
    <select name="sort" class="form-control">
        <option value="title">By title</option>
        <option value="price">By price</option>
        <option value="type">By type</option>
    </select>

    <button type="submit" class="btn btn-primary">Search</button>
    {% if request.user.is_staff %}
        <a href="{% url 'product-create'%}" class="btn btn-primary">Add</a>
    {% endif %}
</form>

<section class="products">
    <div class="product-list">
    {% for product in object_list %}
        <div class="card-wrapper">
            <a class="product-card" href="{% url 'product-details' product.id %}">

                {% if product.photo %}
                    <img class="product-image" src="{{ product.photo.url }}">
                {% else %}
                <div class="no-image">Photo is missing</div>
                {% endif %}
                <h3 class="product-title">{{ product.title }}</h3>

                <p class="product-description">{{ product.description }}</p>
                <p class="product-price">Price: {{ product.price }}</p>
            </a>
        
            {% if request.user.is_authenticated %}
            <div class="container">
                
                <a href="{% url 'product-details' product.id %}" class="btn btn-primary">Details</a>
                {% if request.user.is_staff %}
                    <a href="{% url 'product-update' product.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}