{% extends 'base.html' %}
{% load static %}
{% block title %}Pet Shop: Products{% endblock title %}
{% block header %}Product List{% endblock header %}
{% block content %}

{% if request.user.is_staff %}
    <a href="{% url 'product-create'%}" class="btn btn-primary">Add</a>
{% endif %}

<section class="products">
    <div class="product-list" id="product-list">
    
    </div>

    <div class="pagination">
      <button id="prev-page" class="btn">Previous</button>
      <div id="page-numbers"></div>
      <button id="next-page" class="btn">Next</button>
    </div>

    <div class="pageSize">
        <form id="pageSizeForm">
            <label htmlFor="pageSize">Page size:</label>
            <input id="pageSize" type="number" min=3 max=10>
            <button type="submit">Set</button>
        </form>
    </div>
</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    window.isAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
    window.isStaff = {% if request.user.is_staff %}true{% else %}false{% endif %};
</script>
<script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}