{% extends 'base.html' %}
{% block title %}Pet Shop: Promocodes{% endblock title %}
{% block header %}Promocode List{% endblock header %}
{% block content %}

{% if request.user.is_staff %}
    <a href="{% url 'promocode-create'%}" class="btn btn-primary">Add</a>
    <br/>
{% endif %}

<section class="section">
    <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Discount</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for promo in object_list %}
        <tr>
          <td>{{ promo.code }}</td>
          <td>{{ promo.discount }}%</td>
          <td>{{ promo.isActive }}</td>
          <td>
            <div class="container">
              <a class="btn btn-secondary" href="{% url 'promocode-update' pk=promo.id %}">Edit</a>
              <a class="btn btn-danger" href="{% url 'promocode-delete' pk=promo.id %}">Delete</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}